<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="content">
  <table style="min-width: 600px; width: 80%; margin: 0 10%;">
    <tr>
      <td style="padding-left: 10px;">
        <p>Hello <span th:text="${employee_firstName}"></span>,</p>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 10px;">
        <p>We received a request to reset the password on your ExaTask account. If you didn't make this request, you may safely ignore this email.</p>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 10px;">
        <p>To reset your password, click on the button below:</p>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 10px;">
        <a th:href="@{${resetPasswordUrl}}" target="_blank" style="padding: 10px 30px; background: #4285f4; color: #fff;">Set Password</a>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
